//Wrap your charts in a div to hold all of your charts.
//And give it a position property of `relative`.
.chart-container {
position: absolute;
}

//Each chart inside should have an absolute position so they can lay on top of one another.
.chart {
position: absolute;
left: 0;
top: 0;
display: none; //The default state for each chart should be that it's hidden.
}

.chart.active {
display: block; //Any chart that also has the class `active` will be visible.
}





/*
.chart-container {
  position: relative;
}

.chart {
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
}*/



.chart1 {
  height: 500px;
}

.chart2 {
  height: 500px;
}

.chart3 {
  height: 500px;
}

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

path.area {
  opacity: .5;
}

.x.axis path {
  /*display: none;*/
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;

}


.browser text {
  text-anchor: end;
}
